<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>CategoryId</th>
                    <th>Name</th>
                    <th>Order</th>
                    <th>IsMainCategory</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="category in categories | filter: { isMainCategory: 'true' }">
                    <td>
                        {{ category.categoryId }}
                    </td>
                    <td>
                        {{ category.name }}
                    </td>
                    <td>
                        {{ category.order }}
                    </td>
                    <td>
                        <input type="checkbox" data-ng-model="category.isMainCategory" disabled="disabled">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
